<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.NetworkManager"
    version="0.1.0">

    <name>Network Information</name>
    
    <js-module src="www/network.js" name="network">
        <clobbers target="navigator.network" />
    </js-module>
            
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="Network Information" value="org.apache.cordova.core.NetworkManager"/>
        </config-file>
        
    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="plugins">
	        <plugin name="Network Information" value="CDVConnection" /> 
        </config-file>
        <header-file src="src/ios/CDVConnection.h" />
	    <source-file src="src/ios/CDVConnection.m" />
    </platform>
</plugin>
