<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.NetworkManager"
    version="0.1.0">

    <name>Network Information</name>
    
    <js-module src="www/network.js" name="network">
        <clobbers target="navigator.connection" />
    </js-module>
            
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NetworkStatus">
                <param name="android-package" value="org.apache.cordova.core.NetworkManager"/>
            </feature>   
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/NetworkManager.java" target-dr="src/org/apache/cordova/core" />
        
    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkStatus">
                <param name="ios-package" value="CDVConnection" /> 
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVConnection.h" />
        <source-file src="src/ios/CDVConnection.m" />
        <header-file src="src/ios/CDVReachability.h" />
	    <source-file src="src/ios/CDVReachability.m" />
    </platform>
</plugin>
